:root {
    background-color: rgb(220, 236, 220)
}

li {
    padding-bottom: 3px;
    color: white;
    text-shadow: 2px, 1px 3px black;
    list-style-type:none;
}

p {
    color: black;
    text-shadow: 1px, 1px, white;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-family:'Times New Roman', Times, serif;
    margin-top: 10px;
}

input {
    text-align: center;
}

.container {
    /* Learned that vw means view width - the viewport width has a specific measure, in this case the width of the available screen, including the document margin. */
    width: 100vw;
    /* The view height is the same concept as the view width */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    margin: 0 auto;
}

/* button Code with help from the Run-buddy lesson */

button {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    background-color: #5462d8;
    border-radius: 10px;
    border: 3px double lightgrey;
    color: rgb(138, 138, 138);
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 220px;
    margin-top: 5px;
}

/* Button Hover Section */

button:hover {
    box-shadow: 4px 2px 7px rgba(25, 52, 202, 0.733);
}

.starterpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ticker for the countdown */

.ticker {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 26, 255, 0.404);
    color: rgb(138, 138, 138);
    font-size: large;
    text-shadow: 1px 1px black;
    text-align: center;
}

.quiz {
    display: none;
}

.result {
    display: none;
}

.gameover {
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
}

/* When you get a high score */

.highscore {
    height: 20px;
    border: solid 3px;
}

/* High Score Page Section*/

.high-scorePage {
    display: none;
    width: 60%;
    border: solid;
    border-color: rgba(74, 94, 209, 0.616);
    border-bottom-style: solid;
    padding-bottom: 5px;
    background: lightskyblue;
}

/* High Score Header Section*/

.highscore-header {
    display: flex;
    justify-content: space-evenly;
    border-bottom-style: solid;
    margin-bottom: 5px;
    background-color:5462d8;
    color:rgb(138, 138, 138);
    font-family: 'Times New Roman', Times, serif;
}




