:root {
    background-color: rgb(220, 236, 220)
}

h2 {
    font-family:'Times New Roman', Times, serif;
    margin-top: 10px;
}

input {
    text-align: center;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}


