:root {
    background-color: rgb(220, 236, 220)
}

li {
    padding-bottom: 3px;
    color: white;
    text-shadow: 2px, 1px 3px black;
    list-style-type: none;
}

p {
    color: black;
    text-shadow: 1px, 1px, white;
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-family:'Times New Roman', Times, serif;
    margin-top: -.5rem;
}

input {
    text-align: center;
}

.container {
    /* Learned that vw means view width - the viewport width has a specific measure, in this case the width of the available screen, including the document margin. */
    width: 100vw;
    /* The view height is the same concept as the view width */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

/* button Code with help from the Run-buddy lesson */

button {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    background-color: #942ed1;
    border-radius: 10px;
    border: 3px double lightgrey;
    color: white;
    text-align: center;
    padding: 20px;
    width: 200px;
    font-size: 15px;
    margin-top: 5px;
}

/* Button Hover Section */

button:hover {
    box-shadow: 4px 2px 7px #b167dd
}

#startpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Timer for the countdown */

#timer {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(65, 84, 252, 0.699);
    color: white;
    font-size: x-large;
    text-shadow: .5px .5px black;
    text-align: center;
}

#quiz {
    display: none;
}

#result {
    display: none;
}

#gameover {
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
}

/* When you get a high score */

#highscore {
    height: 1.5rem;
    border: groove 3px;
}

/* High Score Page Section*/

#high-scorePage {
    display: none;
    width: 50%;
    border: solid;
    border-color: rgba(217, 219, 233, 0.616);
    border-bottom-style: groove;
    padding-bottom: .4rem;
    background: lightskyblue;
}

/* High Score Header Section*/

#highscore-header {
    display: flex;
    justify-content: space-around;
    border-bottom-style: outset;
    margin-bottom: .5rem;
    background-color: #5462d8;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#highscreContainer {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* the inititals for the scoring section */

#initials {
    margin: .5rem;
    height: 1.75rem;
}
 /* high score initials */

 #highscore-initials {
     display: inline-block;
     padding-left: 9.5rem;
     font-family: 'Times New Roman', Times, serif;
     font-weight: bold;
 }

 #highscore-score {
     float: right;
     padding-right: 8.75rem;
     font-family: 'Times New Roman', Times, serif;
     font-weight: bold;
 }

 /* final score  section */

 #finalscore {
     padding-bottom: 0.5rem;
     font-size: x-large;
     font-family: 'Times New Roman', Times, serif;
     font-weight: bold;
 }

 /* End Game Button */

 #endGameBtns {
     display: none;
 }



